@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --Light-red: hsl(0, 100%, 67%); /* Primary */
    --Orangey-yellow: hsl(39, 100%, 56%); /* Primary */
    --Green-teal: hsl(166, 100%, 37%); /* Primary */
    --Cobalt-blue: hsl(234, 85%, 45%); /* Primary */
    --Light-slate-blue: hsl(252, 100%, 67%); /* background */
    --Light-royal-blue: hsl(241, 81%, 54%); /* background */
    --Violet-blue:hsl(256, 72%, 46%); /* circle */
    --Persian-blue:hsla(241, 72%, 46%, 0); /* circle */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    color: var(--White);
}
h2 {
    margin-top: 50px;
}
img {
    height: auto;
    padding: 5% 3% 5% 5%;
}
.main {
    display: flex;
    width: 1440px;
    height: auto;
    margin: auto 20%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}
.card-left {
    background: linear-gradient(#7857ff, #2e2be9);
    text-align: center;
    display: grid;
    padding: 0 5%;
    border-radius: 35px;
    overflow: hidden;
    width: 50%;
}
.card-left p {
    height: auto;
    margin-bottom: 40px;
    padding: 20px 30px;
}
.card-left h2, p, label {
    color: var(--Light-lavender);
    font-weight: 700;
}
.circle {
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#4e21ca, #2421ca00);
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
}
.circle h1 {
    font-size: 4.5rem;
    font-weight: 800;
    margin-top: 40px;
}
.circle p {
    padding: 1%;
}
.card-right {
    display: grid;
    overflow: hidden;
    padding: 0 5% 3% 5%;
    width: 50%;
    border-radius: 0 35px 35px 0;
    box-shadow: 30px 10px 35px hsl(241, 100%, 95%);
}
.card-right > div {
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 60px;
}
.card-right p, label {
    display: flex;
    font-size: 20px;
    padding-top: 16px;
}
.score {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 5%;
}
.score p {
    color: var(--Dark-gray-blue);
    padding-right: 4%;
}
.score label {
    color: hsl(224, 20%, 60%);
}
.reaction {
    background-color: hsl(0, 100%, 97%);
    margin: 0 auto 0 auto;
}
.reaction > p {
    color: var(--Light-red);
}
.memory {
    background-color: hsl(39, 100%, 97%)
}
.memory > p {
    color: var(--Orangey-yellow);
}
.verbal {
    background-color: hsl(166, 100%, 97%);
}
.verbal > p {
    color: var(--Green-teal);
}
.visual {
    background-color: hsl(234, 85%, 97%);
}
.visual > p{
    color: var(--Cobalt-blue);
}
.card-right h2 {
    color: var(--Dark-gray-blue);
}
button {
    width: auto;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: var(--White);
    font-weight: 700;
    background-color: var(--Dark-gray-blue);
}
@media only screen and (max-width: 767px) {
    .main {
        width: 375px;
        flex-direction: column;
        margin: 50% 0 35% 0;
        padding: 0;
    }
    .card-left {
        padding: 0;
        width: 100%;
        height: 40%;
    }
    .card-left h1, h2 {
        font-size: 1.5rem;
    }
    .card-left h2 {
        margin-top: 80px;
    }
    .card-left p {
        font-size: 16px;
        margin: 0 0 20px;
    }
    .circle h1 {
        font-size: 3.5rem;
        margin: 20px 0 0;
    }
    .circle{
        height: 150px;
        width: 150px;
    }
    .card-right {
        width: 100%;
        height: 50%;
        padding: auto 35px auto 35px;
    }
    .card-right h2 {
        margin: 25px 0 20px;
        font-size: 20px;
    }
    .card-right > div {
        margin-bottom: 15px;
        height: 45px;
    }
    .card-right p, label {
        font-size: 18px;
        padding-top: 12px;
    }
    button {
        height: 50px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    img {
        padding: 4% 2% 4% 4%;
    }
}